.f16{font-size: 16px;}
.f18{font-size: 18px;}
.c0{color: #000;}
.c1{color: #111;}
.c3{color: #333;}
.c6{color: #666;}
.c9{color: #999;}
.cb{color: #0000ff;}
.cr{color: #e3170d;}
.crf{color: #ff0000;}
.w{width: 1190px;}
.minw{width: 100%;min-width: 1190px;}
.mt0{margin-top: 0;}
.hand{cursor:pointer;}
.inblock{display: inline-block;}
.tablefix{table-layout:fixed;}
.bdc{border: 1px solid #ccc;}
.dash{border-bottom: 1px dashed #ccc;}
.bgdf{background-color: #dfdfdf;}
.bgf2{background-color: #f2f2f2;}
.bgf{background-color: #fff;}
.btnr{color:#ff0000;background-color: #fff;border: 1px solid #ff0000;}
.btnrf{color:#fff;background-color: #ff0000;border: 1px solid #ff0000;}
.btng{color:#666;background-color: #fff;border: 1px solid #666;}
.btngf{color:#fff;background-color: #666;border: 1px solid #666;}
.vm{vertical-align: middle;}
.udl{text-decoration: underline;}
.nowrap1 {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.nowrap2 {word-break: break-all;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
